html {
    margin: 0;
    background: #D9D9D9;
}

body {
    color: #404040;
    width: 100vw;
    height: 100vh;
    margin-bottom: 3vh;
}

.title {
    font-family: 'Kulim Park', sans-serif;
    font-size: 180px;
    font-style: normal;
    font-weight: 600;
    line-height: 160px;
    display:inline-block;
    text-align: center;
    width: 90vw;
    margin-left: 5vw;
    margin-top: 10vh;
}

.subtitle {
    width: 90vw;
    margin-left: 5vw;
    display:flex ;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    font-family: 'Spline Sans', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-top: 5vh;
    padding-bottom: 5vh;
    border-bottom: 3px solid #404040;
}

.content-beginnings {
    width: 80vw;
    display:flex ;
    justify-content: space-around;
    margin-left: 10vw;
    padding-top: 15vh;
    color: #404040;
    font-family: "Spline Sans";
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 60px;
    text-transform: uppercase;
    text-align: center;
}

a {
    color:#404040;
    transition: 3s;
    text-decoration: none;
}

a:visited {color:#404040; text-decoration: none;}

 
  a:hover {
    text-align: center;
    text-decoration: underline 3px solid #404040;
    padding: 3px;
    padding-left: 35px;
    padding-right: 50px;
    margin: 20px;
  }

.appearthird {
    animation: blinker 6s linear infinite;
}

.appearsecond {
    animation: blinker 4s linear infinite;
}

.appearfirst {
    animation: blinker 2s linear infinite;
}

@keyframes blinker {
    0% { opacity: 1; }
    25% { opacity: 0.5; }
    50% { opacity: 0; }
    75% { opacity: 0.5; }
    100% { opacity: 1; }
}