html {
    width: 100vw; 
    height: 100vh;
    margin: 0;
    background: #d9d9d9;
}

body {
    color: #404040;
    padding-top: 10vh;
    text-align:justify;
    text-transform: uppercase;
    font-family: "Spline Sans";
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 50px;
}

.content-container {
    width: 80vw;
    margin-left: 10vw;
}


a {
    text-decoration: none;
    color: #404040;
}

#hashLink {
  display: none;
}

#hashLink:target {
  display: block;
  color: darkolivegreen;
}

 .button-container {
      width: 100%;
      height: 50px;
      display: block;
      margin-top: 20vh;
    }
  
    .button {
      font-family: 'Kulim Park', sans-serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: 30px;
      display: grid;
      text-align: center;
    }
  
    a {
      color:#404040;
      text-decoration: none;
    }
    
    a:visited {color:#404040; text-decoration: none;}
    
    
    a:hover {
      text-decoration: underline 3px solid #404040;
      
    }