html {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background: #D9D9D9;
    color: #404040;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
    grid-gap: 10px;
    height: 100%;
    font-size: 100px;
    line-height: 110px;
}

#first {
    padding-top: 120px;
}

.grid-item {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    padding-top: 100px;
    text-align: center;
    border-radius: 5px;
    height: 50vh;
}

body {
    width: 100vw;
    font-family: "Spline Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: auto;
    text-align: center;
    text-transform: uppercase;
}

.container {
    height: 200px;
    width: 300px;
    display: inline-flex;
    align-items: center;
    justify-content:center;
    animation-duration: 1500ms;
    animation-iteration-count: infinite;
    transform-origin: bottom;
}
.child {
    font-size: 40px;
    width: 200px;
    height: 100px;
}

.container:hover {
    animation-name: bounce;
    animation-timing-function: ease;
}
@keyframes bounce {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-50px); }
  100% { transform: translateY(0); }
}

.content {
    padding-top: 15px;
    text-align: justify;
}