html {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background: #d9d9d9;
}

body {
    color: #404040;
    font-family: 'Spline Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: auto;
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
}

.flip-card {
  background-color: transparent;
  width: 350px;
  height: 250px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: right;
  transition: transform 0.3s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  padding: 20px;
}

.flip-card-front {
  background-color: #d9d9d9;
  color: #404040;
}

.flip-card-back {
  background-color: #d9d9d9;
  color: #404040;
  transform: rotateY(180deg);
  text-align: left;
}