html {
    margin: 0;
    background: #191919;
}

.frame {
    margin-top: 5vh;
    margin-left: 5vw;
    width: 90vw;
    height: 90vh;
    z-index: 5;
    position: fixed;
    object-fit: cover;
    border-radius: 120px;
    background: #D9D9D9;
    filter: blur(30px);
}

.frame {
    animation: blinker .8s linear infinite;
  }
  
  @keyframes blinker {
    55% {
      opacity: 55%;
    }
  }

body {
    color: #404040;
}

.title-container {
    width: 100vw; 
    height: 85vh;
    display: flex;
}

.title {
    font-family: 'Kulim Park', sans-serif;
    font-size: 100px;
    font-style: normal;
    font-weight: 600;
    line-height: 110px;
    display:grid;
    text-align: center;
    text-transform: uppercase;
    width: 100vw;
    height: 100vh;
    z-index: 7;
    position: fixed;
    object-fit: cover;
    margin-top: 180px;
    filter: blur(1px);
    animation: fadeIn 2000ms;
}

.title:hover {
    letter-spacing: 50px;
    animation: blinker .3s linear infinite;
    transform: scale(-1, 1);
}

@keyframes blinker {
  50% {
    opacity: 20%;
  }
}

.text-container {
    width: 100%;
    height: 50px;
    display: grid;
    align-items:center;
  }

  .text-navigation {
    font-family: 'Kulim Park', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    display: grid;
    text-align: center;
    z-index: 9;
    position: fixed;
    object-fit: cover;
    width: 100vw;
    height: 10vh;
    text-transform: uppercase;
    filter: blur(1px);
    animation: fadeIn 2000ms;
  }

  .text-navigation:hover {
    font-style: italic;
    animation: blinker .3s linear infinite;
  }

a {
    text-decoration: none;
    color: #404040;;
}
  

  @keyframes fadeIn {
    0% { opacity: 0; }
    50% { opacity: .5; }
    100% { opacity: 1; }
}

