html {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background: #D9D9D9;
}

.container{
    width: fit-content;
    overflow:auto;
    height: 130px;
    width: 100vw;
    display: flex;
    padding-top: 10px;
    text-transform: uppercase;
    color: #404040;
    font-family: "Spline Sans";
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 60px;
    text-align: center;
  }

.container::-webkit-scrollbar {
    display: none;
}

.container {
  -ms-overflow-style: none;  
  scrollbar-width: none; 
}

  .content-2 {
    text-align: left;
  }

 .content-3 {
    text-align: right;
    padding-left: 25vw;
  }

  .content-4 {
    text-align: left;
    padding-left: 25vw;
  }

  .content-5 {
    text-align: left;
    padding-right: 25vw;
  }

  .content-6 {
    text-align: right;
  }

  .button-container {
    width: 100%;
    height: 50px;
    display: block;
    border-top: 3px solid #404040;
  }

  .button {
    font-family: 'Kulim Park', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    display: grid;
    text-align: center;
    padding-top: 20px;
  }

  a {
    color:#404040;
    text-decoration: none;
  }
  
  a:visited {color:#404040; text-decoration: none;}
  
  
  a:hover {
    text-decoration: underline 3px solid #404040;
    
  }

  .title-container {
    width: 100%;
    height: 60px;
    display: block;
    border-bottom: 3px solid #404040;
  }

  .title {
    font-family: 'Kulim Park', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    display: flex;
    justify-content:space-between;
    text-align: center;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-transform:uppercase;
    color:#404040;
  }
